# Ignore le contenu du dossier intra dans media
public/media/intra/*

# Dependencies
node_modules/

# Build
dist/
*.local

# Logs
*.log

# Scripts avec tokens sensibles
scripts/google-docs-tabs-to-github.gs
